ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

form {
    display: inline;
}

#subscriptionPane {
    float: left;
    width:20%;
}

.subscription {
    display: flex;
    align-items: center;
}

.subscriptionInfo {
}

.deleteCross {
    margin-left: auto;
    margin-right: 10px;
}

#episodesPane {
    max-width: 1000px;
    margin: 0 auto;
}

#urlInput {
    width: 50%;
}

#urlBar {
    margin: 0 auto;
    width: 80%;
}

#podcastInfoBox {
    height: 10vh;
    min-height: 60px;
}

#podcastImage {
    height: 100%;
    float: left;
}

#podcastInfo {
    height: 100%;
    margin-left: 10vh;
    padding: 5px;
}

.oddEpisode {

}

.evenEpisode {
    background: lightblue;
}

.episode {
    padding: 2px;
    overflow: auto;
}

.leftEpisode {
    float: left;
}

.rightEpisode {
    float: right;
}

.button {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.downloadButton {
    background: forestgreen;
    width: 110px;
}

.streamButton {
    background: deepskyblue;
    width: 50px;
}

