<!DOCTYPE html>
<html ng-app="escapePodApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="escapePod.js"></script>
    <link rel="stylesheet" href="escapePod.css">
</head>
<body>
    <h2>Escape Pod</h2>
    <div ng-controller="EscapePodController">

        <div align="center">
            <form ng-submit="loadRss()">
                Podcast URL: <input id="urlInput" type="text" ng-model="rssUrl" placeholder="Paste RSS XML here" />

                <input class="btn-primary" type="submit" value="Load" />
            </form>
        </div>

        <div id="podcastInfoBox">
            <img ng-src="{{imageUrl}}" ng-show="imageUrl" class="ng-hide" id="podcastImage">

            <div id="podcastInfo">
                <b>{{title}}</b>
                <br />
                {{description}}
                <br />
                <div class="bottomAligned">{{category}}</div>
            </div>
        </div>

        <ul>
            <li ng-repeat="episode in episodes" ng-class-odd="'oddEpisode'" ng-class-even="'evenEpisode'">
                <div class="episode">

                    <div>
                        <div class="leftEpisode">
                            <b>{{episode.title}}</b>
                        </div>
                        <div class="rightEpisode">
                            {{episode.date}} {{episode.duration}}
                        </div>
                    </div>

                    <br />

                    <div>
                        <div class="leftEpisode">{{episode.description}}</div>

                        <div class="rightEpisode">
                            <a href="{{episode.url}}" download><button class="button downloadButton">Download</button></a>
                            <a href="{{episode.url}}">         <button class="button streamButton">Play</button></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>